<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/3d83bcc0ed.js" crossorigin="anonymous"></script>
    <link href="https://fonts.cdnfonts.com/css/minecraft-4" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch</title>
</head>
<body>
    <div  id="container">
        <label id="reloj"></label>
    </div>

    <footer class="footer">
        <a href="https://instagram.com/frapfeiffer"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://twitter.com/frapfeiffer"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://github.com/franpfeiffer"><i class="fa-brands fa-github"></i></a>
        <p class="parrafo-size">© all rights reserved to Francisco Pfeiffer</p>
    </footer>

    <script src="/js/fran.js"></script>
</body>
</html>